/local.properties
.idea/*
.idea/vcs.xml
.DS_Store
/build
/captures
app/.gitignore
app/app.iml
app/build.gradle
app/proguard-rules.pro
gradle.properties
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
settings.gradle
viewPagerIndicatorLibrary/*
.gradle