.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gitignore
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/vcs.xml
app/.gitignore
app/app.iml
app/build.gradle
app/proguard-rules.pro
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
settings.gradle